---
title: Neuronal Dynamics during Epilectic Seizures
---
  
.row
  .twelve.large-12.columns
    %h3= current_page.data.title
    %p Epilepsy is a neurological disorder that affects more than 2 million people in United States alone and 65 million cases worldwide, and it manifests as spontaneous seizures, which usually involve loss of consciousness and stiffening/jerking of limbs. While some patients benefit from pharmacotherapy, about 30% of the patient population does not find improvement by these drugs. One effective way of improving their quality of life is to warn the patient when a seizure is likely to occur. To provide such timely warnings, efficient seizure prediction algorithms are required. Many groups have tried to develop these by using EEG signals with little success. Our research aims to meet this scientific need by studying the spiking activity of individual neurons and the local EEG before a local network is recruited into a seizure. Our publications (Grasse et al, 2013 & Karunakaran et al, 2012) identify these neuronal changes in hippocampus during the transition to seizures in chronic epilepsy and status epilepticus respectively.
    
    %p Once reliable markers for predicting seizures are identified, they can be used to provide patient alerts or electrical stimulus to abort these seizures. The ultimate goal of this project is to design a closed-loop implantable device that can record neural activity from the brain, analyze the data, predict seizure timing, and automatically deliver electrical stimulus to abort seizures. 

    %ul.block-grid.two-up.small-block-grid-2
      %li= tag :img, :src => "#{img_path}peri-seizure-PSTH.jpg"
      %li= tag :img, :src => "#{img_path}seizure-LFP-and-multiunit-activity.jpg"
      %li= tag :img, :src => "#{img_path}spike-field-coherence.jpg"