---
title: Cortical Reorganization after Spinal Cord Surgery
---
  
.row
  .twelve.large-12.columns
    %h3= current_page.data.title
    %p In our current research, we assess the role of reorganization of sensorimotor cortex in recovery of locomotor function using chronic therapy after a complete spinal cord injury (SCI) (therapies include pharmacological and exercise interventions). We utilize in-vivo electrophysiology (single neuron recordings and intracortical microstimulation) to study changes in the sensory and motor somatotopic maps, information theoretic measures to quantify changes in neuronal dynamics, axonal tract tracing and immunohistochemistry to investigate the anatomical substrates of this recovery following injury. Using these methods we have established a strong correlation between these map changes and measures of recovery, emphasizing the role of cortical plasticity after spinal injury (Ganzer et al 2013, Graziano 2012, Kao et al 2009). Our findings will contribute to a better understanding of therapy-induced modifications to supraspinal control of locomotion following SCI and will eventually shed new light on the optimization of therapeutic interventions after injury. Future investigations will include assessing the role of cortical reorganization in neuropathic pain following partial injuries.

    %ul.block-grid.two-up.small-block-grid-2
      %li= image_tag "neuron.png"
      %li= image_tag "tracing.png"
      %li= image_tag "map.png"
      %li= image_tag "spikes.png"