---
title: People
---
  
.row
  .twelve.large-12.columns
    %h4 People
    .clearfix
      = tag :img, src: "/images/people/Karen-Moxon2.jpg", class: "left profile pi"
      %p
        %strong Karen Moxon, Ph.D. 
        %br
        = mail_to 'karen.moxon@drexel.edu'
        %br
        Professor and Associate Director for Research, 
        %br
        School of Biomedical Engineering, Science & Health Systems
        %br 
        Professor, College of Medicine, Neurobiology and Anatomy 
        %br 
        Principal Investigator
    %hr
.row
  .medium-12.columns
    %h4 Post-Docs
.row
  .twelve.medium-12.columns
    .clearfix
      = tag :img, src: "/images/people/Jaimie-Dougherty.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Jaimie Dougherty 
        %li Post doctoral fellow, Biomedical Engineering
        %li= mail_to 'jbd34@drexel.edu', 'jbd34@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Default.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Eric B. Knudsen
        %li Post doctoral fellow, Biomedical Engineering
        %li= mail_to 'ek89@drexel.edu', 'ek89@drexel.edu'
    %hr
.row
  .medium-12.columns
    %h4 Graduate Students
.row
  .twelve.medium-12.columns
    .clearfix
      = tag :img, src: "/images/people/Gary-Blumenthal.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Gary Blumenthal
        %li Post doctoral fellow, Biomedical Engineering
        %li= mail_to 'ghb29@drexel.edu', 'ghb29@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Nathaniel-Bridges.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Nathaniel Bridges
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'nb498@drexel.edu', 'nb498@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Walter-Hinds.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Walter Hinds
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'wh426@drexel.edu', 'wh426@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Suganya-Karunakaran.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Suganya Karunakaran
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'sk658@drexel.edu', 'sk658@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Chen-Liu.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Chen Liu
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'cl694@drexel.edu', 'cl694@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Xianda-Long.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Xianda Long
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'xl55@drexel.edu', 'xl55@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Anitha-Manohar.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Anitha Manohar
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'am627@drexel.edu', 'am627@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Default.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Amrit Misra 
        %li MD/PHD Candidate, Medical Engineering
        %li Drexel University College of Medicine
        %li= mail_to 'am834@drexel.edu', 'am834@drexel.edu'
    .clearfix
      = tag :img, src: "/images/people/Marissa-Powers.jpg", class: "left profile"
      %ul(style="list-style: none; margin: 10px 0")
        %strong Marissa Powers
        %li PhD Candidate, Biomedical Engineering
        %li= mail_to 'mep79@drexel.edu', 'mep79@drexel.edu'

    %hr
.row
  .medium-12.columns
    %h4 Lab Technicians
.row
  .twelve.medium-12.columns
    %ul(style="list-style: none; margin: 10px 0")
      %strong Chiemela Nwaobasi
      %li= mail_to 'naijadoc@gmail.com', 'naijadoc@gmail.com'
    %ul(style="list-style: none; margin: 10px 0")
      %strong Timur Litnov  
      %li MD/PhD 
      %li= mail_to 'trl39@drexel.edu', 'trl39@drexel.edu'

    %hr
.row
  .medium-12.columns
    %h4 MS/BS/Undergraduate
.row
  .twelve.medium-12.columns 
    %ul(style="list-style: none; margin: 10px 0")
      %strong Carl Beringer
      %li Undergraduate Student, Biomedical Engineering
      %li= mail_to 'cb549@drexel.edu', 'cb549@drexel.edu'

    %ul(style="list-style: none; margin: 10px 0")
      %strong Brianne Karten  
      %li Masters in Laboratory Animal Science 
      %li= mail_to 'bk458@drexel.edu', 'bk458@drexel.edu'

    %ul(style="list-style: none; margin: 10px 0")
      %strong Geoffrey Barrett  
      %li Undergraduate Student, Biomedical Engineering
      %li= mail_to 'gmb69@drexel.edu', 'gmb69@drexel.edu'

    %ul(style="list-style: none; margin: 10px 0")
      %strong Matthew Tanhauser 
      %li Masters in Laboratory Animal Science 
      %li= mail_to 'mt682@drexel.edu '

    %ul(style="list-style: none; margin: 10px 0")
      %strong Jeremy Jeffrey 
      %li Masters in Laboratory Animal Science 
      %li= mail_to 'jij24@drexel.edu'
    %hr

.row
  .medium-12.columns
    %h4 Lab Alumni
.row
  .twelve.medium-12.columns 

    %ul(style="list-style: none; margin: 10px 0")
      %strong Patrick Ganzer, PhD
      %li Postdoctoral Fellow, University of Texas at Dallas, Department of Bioengineering
      %li= mail_to 'pdg34@drexel.edu'
    %ul(style="list-style: none; margin: 10px 0")
      %strong Dane Grasse
      %li Postdoctoral Fellow, University of Texas at Dallas, Department of Bioengineering
    %ul(style="list-style: none; margin: 10px 0")
      %strong Alessandro Scaglione
      %li Postdoctoral Fellow, National Institutes of Mental Health
    %ul(style="list-style: none; margin: 10px 0")
      %strong Robert Flint
      %li Postdoctoral Fellow, Northwestern University
    %p
      %strong Tina Kao
    %p
      %strong Guglielmo Foffani
    %p
      %strong Andrew Khair 
    %p
      %strong Steve Leiser 

