---
layout: full-width
title: People
---
.row
  .six.large-6.columns
    .row
      .twelve.large-12.columns
        %h4 Principal Investigator
        .clearfix
          = image_tag "people/Karen-Moxon2.jpg", class: "left profile pi"
          %p
            %strong Karen Moxon, Ph.D.
            %br
            = mail_to 'karen.moxon@drexel.edu'
            %br
            Professor and Associate Director for Research,
            %br
            School of Biomedical Engineering, Science & Health Systems
            %br
            Professor, College of Medicine, Neurobiology and Anatomy
            %br
            Principal Investigator
        %hr
    .row
      .medium-12.columns
        %h4 Graduate Students
    .row
      .twelve.medium-12.columns
        .clearfix
          = image_tag "people/Gary-Blumenthal.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Gary Blumenthal
            %li Post doctoral fellow, Biomedical Engineering
            %li= mail_to 'ghb29@drexel.edu', 'ghb29@drexel.edu'
        .clearfix
          = image_tag "people/Nathaniel-Bridges.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Nathaniel Bridges
            %li PhD Candidate, Biomedical Engineering
            %li= mail_to 'nb498@drexel.edu', 'nb498@drexel.edu'
        .clearfix
          = image_tag "people/Walter-Hinds.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Walter Hinds
            %li PhD Candidate, Biomedical Engineering
            %li= mail_to 'wh426@drexel.edu', 'wh426@drexel.edu'
        .clearfix
          = image_tag "people/Chen-Liu.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Chen Liu
            %li PhD Candidate, Biomedical Engineering
            %li= mail_to 'cl694@drexel.edu', 'cl694@drexel.edu'
        .clearfix
          = image_tag "people/Jon-Garcia.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Jonathan Garcia
            %li= mail_to "jonathan.garcia@drexel.edu"
        .clearfix
          = image_tag "people/Default.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Mike Meyers
            %li= mail_to "michael.c.meyers@drexel.edu"
        .clearfix
          = image_tag "people/Bharadwaj-Nandakumar.jpg", class: "left profile"
          %ul(style="list-style: none; margin: 10px 0")
            %strong Bharadwaj Nandakumar
            %li= mail_to 'bn324@drexel.edu'

        %hr
    .row
      .medium-12.columns
        %h4 Lab Technicians
    .row
      .twelve.medium-12.columns
        %ul(style="list-style: none; margin: 10px 0")
          %strong Timur Litnov
          %li MD/PhD
          %li= mail_to 'trl39@drexel.edu', 'trl39@drexel.edu'

        %hr

  .six.large-6.columns
    .row
      .medium-12.columns
        %h4 Lab Alumni

        %h5 Post-doctoral Students Advised
        %ul(style="list-style: none; margin: 10px 0")
          %strong Jaimie Dougherty
          %li PhD from School of Biomedical Engineering, Drexel University
          %li Current Position: Assistant Teaching Professor, Drexel University School of Biomedical Engineering, Science and Health Systems
        %ul(style="list-style: none; margin: 10px 0")
          %strong Bridget Willoughby
          %li PhD from Department of Chemistry, University of Pittsburgh
          %li Current Position: Department of Homeland Security, Atlantic City, NJ

        %h5 PhD Students Advised
        %ul(style="list-style: none; margin: 10px 0")
          %strong Marissa Powers, PhD
          %li Current Position: Engineering Leadership Program (ELP) Engineer, Intel Americas Inc.
        %ul(style="list-style: none; margin: 10px 0")
          %strong Suganya Karunakaran, PhD
          %li Current Position: Postdoctoral Research Fellow, University of Texas Health Science Center, Houston
        %ul(style="list-style: none; margin: 10px 0")
          %strong Anitha Manohar, PhD
          %li Current Position: Post-doctoral Fellow Children’s Hospital of Pennsylvania
        %ul(style="list-style: none; margin: 10px 0")
          %strong Amrit Misra, PhD
          %li Current Position: Medical Student Drexel College of Medicine
        %ul(style="list-style: none; margin: 10px 0")
          %strong Patrick Ganzer, PhD
          %li Current Position: Research Associate, University of Texas, Dallas.
        %ul(style="list-style: none; margin: 10px 0")
          %strong Eric Knudsen, PhD
          %li Current Position: Postdoctoral Fellow University of California, Berkeley
        %ul(style="list-style: none; margin: 10px 0")
          %strong Dane Grasse, PhD
          %li Current Position: Research Associate, University of Texas, Dallas.
        %ul(style="list-style: none; margin: 10px 0")
          %strong Robert Flint, PhD
          %li Post-doctoral Fellow Northwestern University, Department of Physiology Feinberg School of Medicine, Chicago IL
        %ul(style="list-style: none; margin: 10px 0")
          %strong Alessandro Scaglione, PhD
          %li Current Position: Research Fellow NIH Institute on Aging
        %ul(style="list-style: none; margin: 10px 0")
          %strong Andrew Khair, PhD
          %li Current Position: Research Scientist Neurostream Technologies Minneapolis MN
        %ul(style="list-style: none; margin: 10px 0")
          %strong Tina Kao, PhD
          %li Current Position: Assistant Professor, City University of New York, New York NY
        %ul(style="list-style: none; margin: 10px 0")
          %strong Steve Leiser, PhD
          %li Current Position: Head of Translational Sciences, Luc Pharmaceutical, Cambridge MA
        %ul(style="list-style: none; margin: 10px 0")
          %strong Guglielmo Foffani, PhD
          %li Current Position: Research Scientists Hospital Paraplegico, Toledo Spain

        %h5 Master's Students Advised
        %ul(style="list-style: none; margin: 10px 0")
          %strong Brianne Karten
          %li Masters in Laboratory Animal Science
        %ul(style="list-style: none; margin: 10px 0")
          %strong Matthew Tanhauser
          %li Masters in Laboratory Animal Science
        %ul(style="list-style: none; margin: 10px 0")
          %strong Jeremy Jeffrey
          %li Masters in Laboratory Animal Science
        %ul(style="list-style: none; margin: 10px 0")
          %strong Carl Beringer
          %li Undergraduate Student, Biomedical Engineering

        %ul(style="list-style: none; margin: 10px 0")
          %strong Geoffrey Barrett
          %li Undergraduate Student, Biomedical Engineering

        %p
          %strong Tina Koa
        %p
          %strong Guglielmo Foffani
        %p
          %strong Andrew Khair
        %p
          %strong Steve Leiser

