%ul.bxslider
  %li= image_tag "slideshow/spinal-cord-surgery.jpg", title: "Cortical Reorganization after Spinal Cord Surgery <br><a class='more-link' href='#{http_prefix}research/spinal-cord-surgery'>More Info</a>"
  %li= image_tag "slideshow/brain-machine-interfaces.jpg", title: "Cortical Brain Machine Interfaces (BMI) for restoring locomotion <br><a class='more-link' href='#{http_prefix}research/brain-machine-interfaces'>More Info</a>"
  %li= image_tag "slideshow/research-developments.jpg", title: "Technology Developments and Patents <br><a class='more-link' href='#{http_prefix}technology-development'>More Info</a>"
  %li= image_tag "slideshow/epilectic-seizures.jpg", title: "Neuronal Dynamics during Epilectic Seizures <br><a class='more-link' href='#{http_prefix}research/epilectic-seizures'>More Info</a>"