---
title: Home
---

.row
  .six.medium-6.columns
    .home-panel
      %h3.home.underline Recent Publications
      %ol
        - for i in 0..4 do
          %li
            %p
              %strong= link_to data.publications[i].title, "publications/overview##{data.publications[i].title.split[0..2].join('-')}"
              = "- #{data.publications[i].publisher}"
      = link_to "More Publications", "#{http_prefix}publications/overview", class: "more-link"

  .six.medium-6.columns
    .home-panel
      %h3.home.underline Recent News
      %ul
        %li <strong>Chen Liu</strong> presented her work entitled <strong>"Functional Role of Neuron Adaptation in Encoding Context Information"</strong> at the Biomedical Engineering Society Meeting, Tampa FL, October 7-10th, 2015.
        %li <strong>Marissa Powers</strong> successfully defended her PhD thesis on August 24th 2015, entitled <strong>"Population level dynamics of cells in the rat hindlimb sensorimotor cortex during bipedal obstacle avoidance"</strong>
        %li <strong>Amrit Misra</strong> successfully defended his PhD thesis on June 11th 2014, entitled  <strong>"Changes in Neuronal Firing and Synchrony Precede Recruitment of Mesial Temporal Networks into Generalizing Seizures"</strong>
        %li <strong>Amrit Misra</strong> was awarded the Research Excellence Award in the doctoral category by the Office of Graduate Studies for the year 2014 recognizing outstanding contribution to research in the Drexel community.
      / = link_to "More News", "#", class: "more-link"
